################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Orchestrator/FileContentIndex/68565e07-e0cc-4fa8-bb0b-9ac88a793472.vsidx
/.vs/Orchestrator/FileContentIndex/e21e8140-9d93-4ccd-aa81-617f20a16aaf.vsidx
/.vs/Orchestrator/FileContentIndex
